// ============================================
// Variables: Colors
// ============================================

// Text Colors
$color-text-black: #141a18;
$color-text-pink: #f45c96;
$color-text-white: #ffffff;
$color-text-gray: #707070;

// Primary Colors
$color-blue: #52aed5;
$color-purple: #ab8ece;
$color-teal: #6dcbbb;
$color-green-button: #21bf0c;

// Background Colors
$color-bg-light-pink: #feebf1;
$color-bg-pink: #f8c7da;
$color-bg-deep-pink: #ed83aa;

// Sub Colors
$color-light-gray: #d9d9d9;
$color-yellow: #fffa67;
$color-dark-blue: #07729f;
$color-dark-purple: #632fa1;
$color-dark-teal: #16947c;
$color-dark-pink: #bb255c;

// ============================================
// Variables: Typography
// ============================================

// Font Families
$font-main: 'Noto Sans JP', sans-serif;
$font-heading: 'GenEi POPle Pw', sans-serif;
$font-fv: 'hanatotyoutyo', sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$breakpoint-md: 768px;
